[Unit]
Description=Sentry Background Worker
After=network.target

[Service]
Type=simple
User={{ sentry_system_user }}
Group={{ sentry_system_user }}
WorkingDirectory={{ sentry_virtualenv_path }}
Environment=SENTRY_CONF=/etc/sentry
ExecStart={{ sentry_virtualenv_path }}/bin/sentry run worker

[Install]
WantedBy=multi-user.target
